{% extends 'layouts/_base.html' %}

{% block title %}
Usuaris Bloqueaos
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped" style="background-color: #fefefe;">
	<thead>
		<tr>
			<th>user_id</th>
			<th>message</th>
			<th>created</th>
			<th>Accions</th>
		</tr>
	</thead>
	<tbody>
		{% for user in blocked_users %}
		<tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
			<a href="users/{{ user.user_id }}/unblock" alt="Desbloquear">Desbloquear</a>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-outline-dark btn-xl" href="/admin">&#x3c;&#x3c; Tornar la pàgina d'administració</a>

{% endblock %}