{% extends '_template.html' %}
{% block content %}

<h3 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Productes</h3>
<!--Botonesssss-->
<div class="flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
<a href="/products/create" class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Crear un nou producte</a>
</div>
<h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Listado:</h1>
<table>
	<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
		<th class="px-4 py-3">ID</th>
		<th class="px-4 py-3">NOM</th>
		<th class="px-4 py-3">PREU</th>
		<th class="px-4 py-3">CATEGORIA</th>
	</tr>

	{% for (product, category) in products_with_category %}
	<tr class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
		<td class="text-gray-700 dark:text-gray-400"><a href="/products/read/{{ product.id }}">{{ product.id }}</a></td>
		<td class="text-gray-700 dark:text-gray-400"><a href="/products/read/{{ product.id }}">{{ product.title }}</a></td>
		<td class="text-gray-700 dark:text-gray-400"><a href="/products/read/{{ product.id }}">{{ product.price }}</a></td>
		<td class="text-gray-700 dark:text-gray-400"><a href="/products/read/{{ product.id }}">{{ category.name }}</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}